absl-py==0.9.0
alabaster==0.7.8
asn1crypto==0.24.0
astor==0.8.1
astroid==2.1.0
atomicwrites==1.1.5
attrs==18.2.0
Babel==2.6.0
backcall==0.2.0
beautifulsoup4==4.7.1
biopython==1.73
bleach==3.1.2
blosc==1.7.0
bottle==0.12.15
Brlapi==0.6.7
cachetools==4.1.0
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
cloudpickle==0.8.0
coremltools==3.3
coverage==4.5.2
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.2
dask==1.0.0+dfsg
decorator==4.4.2
defusedxml==0.5.0
distro==1.3.0
distro-info==0.21
docutils==0.14
entrypoints==0.3
extras==1.0.0
fixtures==3.0.0
frozendict==1.2
future==0.16.0
gast==0.2.2
GDAL==2.4.0
gnome-gmail==2.6
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
gspread==3.6.0
h5py==2.8.0
html5lib==1.0.1
httplib2==0.18.1
idna==2.6
imagesize==1.0.0
importlib-metadata==1.6.1
iotop==0.6
ipdb==0.11
ipfn==1.4.0
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.3.4
jedi==0.17.1
Jinja2==2.10
joblib==0.13.0
jsonschema==2.6.0
jupyter-client==6.1.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterthemes==0.20.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lesscpy==0.14.0
linecache2==1.0.0
llvmlite==0.33.0
locket==0.2.0
logilab-common==1.4.2
louis==3.8.0
lxml==4.3.2
Mako==1.0.7
Markdown==3.2.2
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==4.2.0
mpi4py==2.0.0
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.2
nose==1.3.7
nose2==0.8.0
notebook==5.7.8
numba==0.50.0
numexpr==2.6.9
numpy==1.16.2
numpydoc==0.7.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==3.2.1
packaging==19.0
pandas==0.23.3+dfsg
pandocfilters==1.4.2
parso==0.7.0
partd==0.3.9
patsy==0.5.0+dev
pbr==4.2.0
pdfarranger==1.1.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.0
ply==3.11
prettytable==0.7.2
prometheus-client==0.6.0
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.5.1
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.4.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyFFTW==0.11.1
pyflakes==2.0.0
Pygments==2.6.1
PyGObject==3.30.4
pylint==2.2.2
pyparsing==2.2.0
PyPDF2==1.26.0
pysmbc==1.0.15.6
pytest==3.10.1
python-apt==1.8.4.1
python-dateutil==2.8.1
python-debian==0.1.35
python-igraph==0.7.1.post6
python-mimeparse==0.1.4
pytz==2019.1
PyWavelets==0.5.1
pyxattr==0.6.1
pyxdg==0.25
PyYAML==3.13
pyzmq==19.0.1
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
reportlab==3.5.13
requests==2.21.0
requests-futures==0.9.9
requests-oauthlib==1.3.0
resampy==0.2.1
roman==2.0.0
rope==0.10.5
rpy2==2.9.5
rsa==4.6
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.1.0
scour==0.37
seaborn==0.9.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
soupsieve==1.8
Sphinx==1.8.4
spyder==3.3.3
spyder-kernels==0.2.4
tables==3.4.4
tensorboard==2.0.2
tensorflow==2.0.1
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
testtools==2.3.0
texttable==1.6.0
toolz==0.9.0
tornado==6.0.4
traceback2==1.4.0
traitlets==4.3.3
turicreate==6.3
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==1.24.1
waitress==1.2.0b2
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==2.0.0
wrapt==1.12.1
youtube-dl==2019.1.17
zipp==3.1.0
